@font-face {
  font-family: "Jost";
  font-style: normal;
  src: local(""), url("assets/Jost-Var.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: #040720;
}

#bg {
  background-image: url("assets/img1.jpg");
  width: 100%;
  min-height: 100svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(0.1rem);
  opacity: 0.7;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
#main {
  position: absolute;
}
.icon {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline wavy red;
  text-decoration-thickness: 1px;
}
.symbol {
  color: #0066b2;
}
.word {
  color: #f8e473;
}
nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 0.5rem;
}
header {
  min-height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  color: #fff;

  & h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }
  & h2 {
    font-size: 1.87em;
  }
}
.cta {
  font-size: 1rem;
  padding: 0.7rem 3rem;
  background-color: #f8e473;
  border-radius: 180px;
  font-weight: 600;
}
section,
footer {
  padding: 2.5rem 1.5rem 4rem;

  & h2 {
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #fff;
  }
}
#container,
#faq {
  background-color: #192841;
}
#features,
#reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.feature img {
  width: 50px;
}
.feature h4 {
  color: #fff;
  font-size: 1.5rem;
  font-family: var(--font-family);
  margin-bottom: 10px;
}
.feature p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-family);
}
.review-card {
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsla(218, 44%, 18%, 0.5);

  & p {
    color: #fff;
    font-family: var(--font-family);
  }
}
.info {
  margin-bottom: 1rem;
  display: flex;
  align-items: end;
  gap: 0.5rem;

  & .profile img {
    border-radius: 50%;
    width: 4rem;
  }

  & .name {
    font-size: 0.9rem;
    font-weight: 700;
  }

  & .job {
    font-size: 0.8rem;
  }
}
.review {
  &::before {
    content: "";
    display: inline-block;
    background: url(./assets/quote.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
  }

  & p {
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
#offer {
  margin: 4.5rem 0;
  text-align: center;
}

#questions > div {
  position: relative;
  z-index: 1;
  margin-inline: auto;
  width: 90%;

  & input {
    display: none;
  }
  & input:checked ~ .answer {
    position: relative;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  input:checked ~ label::after {
    transform: translateY(-50%) rotate(-0.25turn);
  }
  & label,
  .answer {
    padding: 0.5rem 1rem;
  }
  & label {
    display: block;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
    background: #192841;
    color: #fff;
    font-family: var(--font-family);
  }
  label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    background-image: url("assets/arrow-down.svg");
    background-size: contain;
    transition: transform 0.3s;
  }
}
.answer {
  position: absolute;
  transform: translateY(calc(-100% + 10px));
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.answer p {
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  font-family: var(--font-family);
}
footer {
  background-color: #192841;
  margin-top: 3rem;
}
#foot-wrapper {
  display: grid;
  gap: 10px;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: end;

    & ul {
      display: flex;
      gap: 12px;
    }
  }
}
#foot-icon {
  display: flex;
  font-size: 1.5rem;
  text-decoration: underline wavy red;
  text-decoration-thickness: 1px;
}
#social {
  & img {
    height: 1.5rem;
    transition: all 200ms ease-in-out;
  }
  & li:hover img {
    transform: scale(1.2) translateY(-3px);
  }
}
#email {
  color: #fff;
  font-size: 1rem;
}
#links li a {
  color: #fff;
  font-size: 1rem;
  transition: text-decoration 0.3s ease;
}
#links a:hover {
  text-decoration: underline #f8e473;
  text-underline-offset: 3px;
}
#cc {
  margin-top: 1rem;
  text-align: center;
  background-color: #192841;
  padding: 5px;
}
#cc p {
  font-size: 0.8rem;
  color: #fff;
  /* opacity: 0.75; */
}
@media (width >= 481px) {
  #icon {
    font-size: 2.19rem;
  }
  button {
    margin: 5rem;
  }
  #features,
  #reviews {
    & > div {
      flex: 0 1 320px;
      font-size: 1.1rem;
    }
  }
  #questions,
  #foot-wrapper {
    width: 60%;
    margin-inline: auto;
  }
  #email,
  #links li a {
    font-size: 1.1rem;
  }
  #social img {
    height: 1.6rem;
  }
}
