@font-face {
  font-family: "Jost";
  font-style: normal;
  src: local(""), url("assets/Jost-Var.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
a {
  text-decoration: none;
}
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: #040720;
}

#bg {
  background-image: url("assets/img1.jpg");
  width: 100%;
  min-height: 100svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(0.1rem);
  opacity: 0.7;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
#main {
  position: absolute;
}
.icon {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline wavy red;
  text-decoration-thickness: 1px;
}
.symbol {
  color: #0066b2;
}
.word {
  color: #f8e473;
}
nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 0.5rem;
}
header {
  min-height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  color: #fff;

  & h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }
  & h2 {
    font-size: 1.87em;
  }
  & a {
    font-size: 1rem;
    padding: 0.7rem 3rem;
    background-color: #f8e473;
    border-radius: 180px;
    font-weight: 600;
  }
}
section {
  padding: 2.5rem 1.5rem;

  & h2 {
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #fff;
  }
}
#container {
  background-color: #192841;
}
#features,
#reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.feature img {
  width: 50px;
}
.feature h4 {
  color: #fff;
  font-size: 1.5rem;
  font-family: var(--font-family);
  margin-bottom: 10px;
}
.feature p {
  color: #fff;
  font-size: 1.19rem;
  font-family: var(--font-family);
}
.review-card {
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsla(218, 44%, 18%, 0.5);

  & p {
    color: #fff;
    font-family: var(--font-family);
  }
}
.info {
  margin-bottom: 1rem;
  display: flex;
  align-items: end;
  gap: 0.5rem;

  & .profile img {
    border-radius: 50%;
    width: 4rem;
  }

  & .name {
    font-size: 0.9rem;
    font-weight: 700;
  }

  & .job {
    font-size: 0.8rem;
  }
}
.review p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
#offer {
  text-align: center;
  background-color: #192841;
  margin: 0 0 1.5rem 0;
}
#faq {
  color: #fff;
}
input {
  display: none;
}
input:checked ~ .answer {
  display: block;
}
label,
.answer {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
}
label {
  display: block;
  background-color: #192841;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}
label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  background-image: url("assets/arrow-down.svg");
  background-size: contain;
  transition: transform 0.3s;
}
input:checked ~ label::after {
  transform: translateY(-50%) rotate(-0.25turn);
}
.answer {
  font-size: 1.19rem;
  line-height: 1.6;
  background-color: rgba(25, 40, 65, 0.5);
  display: none;
  transition: display 0.3s;
  border-radius: 0 0 10px 10px;
  margin-bottom: 5px;
}
.answer p {
  opacity: 0.75;
}
footer {
  background-color: #192841;
  display: flex;
  padding: 1rem 0;
  margin-top: 3rem;
  justify-content: space-evenly;
}
#contact {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#foot-icon {
  display: flex;
  font-size: 1.5rem;
  text-decoration: underline wavy red;
  text-decoration-thickness: 1px;
}
#email {
  color: #fff;
  font-size: 1.2rem;
  margin: 5px 0 0 0;
}
#share {
  display: flex;
  gap: 5px;
}
#share li:hover img {
  height: 1.5rem;
}
#share li > img {
  margin: 0 0.5rem;
  height: 1.2rem;
  transition: height 0.3s;
}
#misc ul li {
  list-style: none;
}
#misc ul li a {
  color: #fff;
  line-height: 2.5rem;
  text-decoration: none;
  text-underline-offset: 3px;
  font-size: 1.125rem;
  padding: 5px;
  transition: text-decoration 0.3s ease;
}
#misc ul li:hover a {
  text-decoration: underline #f8e473;
}
#cc {
  text-align: center;
  background-color: #192841;
  padding: 5px;
}
#cc p {
  font-size: 1rem;
  color: #fff;
  opacity: 0.75;
}
/* ::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}
::selection {
  background: rgba(0, 0, 0, 0.1);
} */
@media (width >= 481px) {
  #icon {
    font-size: 2.19rem;
  }
  button {
    margin: 5rem;
  }
  #features > div {
    flex: 0 1 320px;
    font-size: 1.56rem;
  }
  #reviews > div {
    flex: 0 1 320px;
    font-size: 1.56rem;
  }
  .review h4 {
    font-size: 1.8rem;
  }
  .review p {
    font-size: 1.56rem;
  }
  #foot-icon {
    font-size: 2.3rem;
  }
  #email {
    font-size: 2rem;
  }
  #share li > img {
    height: 2.5rem;
  }
  #share li:hover > img {
    height: 2.8rem;
  }
  #misc ul li a {
    font-size: 2rem;
  }
  #cc p {
    font-size: 2rem;
  }
}
@media (width >= 769px) {
  h1 {
    font-size: 6.25rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h3 > img {
    height: 38px;
  }
  #features,
  #reviews {
    min-width: 700px;
  }
  label,
  .answer {
    margin: 0 auto;
    width: 320px;
    padding: 1rem;
  }
}
@media (width >= 1025px) {
  #features,
  #reviews {
    min-width: 1016px;
  }
}
